header{
    text-align: center;
}

.APapaqui{
    align-items: center;
}

section{
    text-align: justify;
    margin-right: 0%;
}



.contenedor-principal p{
    min-width: 40% ;
}

.contenedor-principal aside{
    flex:2;
    padding: 10px;
    margin-left: 0;
}