header{
    text-align: center;
}

body{
    background-color: #ffdcd5;
    text-align: justify;
    font-size: 18px;
    font-family: "Roboto Condensed", sans-serif;
    margin-right: 5%;
    margin-left: 5%;
}

.Papaqui{
    margin-right: 1%;
    float: left;
}

h2{
    margin-left: 0%;
}

aside{
    float: right;
}

.hobbies{
    float: left;
    margin-left: 10%;
}
