header{
    text-align: center;
}

h1{
    font-family: "Science Gothic", sans-serif;
}

body{
    background-color: #ffdcd5;
    text-align: justify;
    font-size: 20px;
    font-family: "Oswald", sans-serif;
    margin-right: 5%;
    margin-left: 5%;
}

.Papaqui{
    margin: 0 1rem;
    float: right;
    width: 7em;
    border-radius: 10%;
}

h2{
    margin-left: 0%;
}

aside{
    display: inline-block;
    margin: 10rem 5rem;
}

fieldset{
    border-color: #BD897D;
    background: #E7D4D0;
}
